---

- name: Create Consul configuration directory
  file: >
    path={{ consul_config_dir }}
    owner=root
    group={{ consul_group }}
    mode=0750
    state=directory
  tags: consul

- name: Create Consul service file
  template: >
    src=consul.initd.conf.j2
    dest=/etc/init.d/{{ consul_service_name }}
    owner=root
    group=root
    mode=0755
  when: ansible_os_family == 'RedHat'
  notify: restart consul
  tags:
    - consul
    - consul-template

- name: upstart init script
  template:
    src: "consul.upstart.conf.j2"
    dest: /etc/init/consul.conf
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family == 'Debian'
  notify: restart consul

- name: update /etc/{{ consul_sysconfig_dir }}/{{ consul_service_name }}
  template:
    src: sysconfig.j2
    dest: "/etc/{{ consul_sysconfig_dir }}/{{ consul_service_name }}"
    owner: root
    group: root
    mode: '0644'
  notify: restart consul
  tags:
    - consul
    - consul-sysconfig
    - consul-template

- name: Create Consul configuration file
  template: >
    src=consul.json.j2
    dest={{ consul_config_dir }}/consul.json
    owner=root
    group={{ consul_config_file_group }}
    mode={{ consul_config_file_mode }}
  notify: restart consul
  tags:
    - consul
    - consul-json
    - consul-template

- include: services.yml
  when: consul_services|length > 0 or consul_services_bulk|length > 0
  tags:
    - consul
    - consul-services

- include: checks.yml
  when: consul_checks|length > 0 or consul_checks_bulk |length > 0
  tags:
    - consul
    - consul-checks

- name: Create Consul watches configuration file
  template: >
    src=watches.json.j2
    dest={{ consul_config_dir }}/watches.json
    owner=root
    group=root
    mode=0644
  notify: reload consul
  tags: consul
