---

# Include variables and define needed variables.
- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"

- name: OS packages
  package: "name={{ item }} state=present"
  with_items: "{{ consul_os_packages }}"
  tags: installation

- name: Download Consul
  get_url: >
    url={{ consul_url }}
    dest={{ consul_download_dir }}/consul.zip
    sha256sum={{ consul_sha256sum }}
  tags: consul

- name: Unzip Consul to installation directory
  unarchive: >
    src={{ consul_download_dir }}/consul.zip
    dest={{ consul_install_dir }}
    copy=no
  tags: consul
